<!doctype html>
<html>

<head>
    <title>Qxf2 Skype-to-Newsletter </title>
    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>    
<form action="{{ url_for('read_csv') }}" method="GET">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Date of posting </th>
                    <th>URL Links</th>
                </tr>
            </thead>
            <tbody>
                {% for data in newsletter_data %}
                <tr>
                    {% for value in data %}
                    <td>
                        {{ value }}
                    </td>
                    {% endfor %}
                </tr>   
                {% endfor %}
            </tbody>
        </table>

    </div>
<body>
</html>